.title {
  font-size: 10rem;
  width: 100%;
}

.input {
  background: rgb(44, 160, 135);
  font-size: 6rem;
  width: 100%;
}

.container {
  margin: 20rem auto;

  @include media(">phone") {
    max-width: 120rem;
  }
}

.button {
  margin-top: 3rem;
  font-size: 2.5rem;
  padding: 2rem;
  background-color: rgb(255, 209, 209);
}

.block {
  width: 100%;
  height: 90vh;
  background-color: rgb(245, 161, 161);
}
