.title {
  font-size: 10rem;
  width: 100%;
}

.input {
  background: rgb(44, 160, 135);
  transform: translateY(120%);
  font-size: 6rem;
  width: 100%;
}

.container {
  margin: 20rem auto;

  @include media(">phone") {
    max-width: 120rem;
  }
}
