.details {
  &__spacer {
    height: 10vh;
  }

  &__title {
    padding: 5rem 0;
    font-size: 10rem;
    line-height: 1.3;
  }

  &__wrapper {
    width: 100%;
  }

  &__container {
    max-width: 80rem;
    margin: 0 auto;
  }

  &__button {
    margin: 2rem 0;
    color: black;
    background: rgb(196, 252, 196);
    font-size: 2rem;
    padding: 3rem;
  }

  &__p {
    font-size: 2.5rem;
    line-height: 1.8;
    color: black;
    padding: 12rem 0;
  }

  &__img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img-link {
    width: 100%;
  }

  &__img-wrapper {
    opacity: 0;
    width: 100%;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 60vh;
    }
  }
}
