.details {
  &__title {
    font-size: 10rem;
  }

  &__wrapper {
    background-color: rgb(239, 157, 255);
  }

  &__button {
    color: black;
    font-size: 2rem;
    padding: 3rem;
    background-color: rgb(71, 88, 236);
  }
}
