.error {
  &__code {
    font-size: 15px;
    color: var(--black);
    letter-spacing: 1px;

    &__wrapper {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
