.index {
  &__title {
    font-size: 10rem;
  }

  &__wrapper {
    max-width: 120rem;
    margin: 0 auto;
    background-color: green;
  }

  &__button {
    color: black;
    font-size: 2rem;
    padding: 3rem;
    background-color: pink;
  }
}
