[data-animation='label'],
[data-animation='paragraph'],
[data-animation='title'] {
  .line {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  .word {
    transform: translateY(100%);

    &--active {
      transform: translateY(0%);
    }
  }
}

[data-animation='button'] {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  span {
    display: inline-block;
    transform-origin: center center 0.5em;
    vertical-align: middle;
  }
}

[data-animation='link'] {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  span {
    display: inline-block;
    transform-origin: center center 0.5em;
    vertical-align: middle;
  }
}
