[data-animation='paragraph'] {
  .line {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  .word {
    transform: translateY(100%);

    &--active {
      transform: translateY(0%);
    }
  }
}
