.card-content {
  &__text-wrapper {
    padding: 12rem 0;
    position: relative;

    &__text {
      position: relative;
      font-size: 14rem;
      color: black;

      &--white {
        color: white;
      }

      b {
        font-family: 'nexa';
      }
    }
  }
}
