.card-preview {
  padding: 8rem 0;
  position: relative;

  &__container {
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;

    &--secondary {
      justify-content: flex-end;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;

      &:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 62.5%;
      }
    }
  }

  &__curtains-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &__ghost-color {
      width: 100%;
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__top {
      overflow: hidden;

      &__wrapper {
        &__wrapper {
          transform: translateY(50%);
        }
      }
    }

    &__bottom {
      overflow: hidden;

      &__wrapper {
        &__wrapper {
          transform: translateY(-50%);
        }
      }
    }
  }
}
