.card-content {
  &__text-wrapper {
    padding: 5rem 0;
    position: relative;

    @include media('>phone') {
      padding: 10rem 0;
    }

    &__text {
      position: relative;
      font-size: 7rem;
      color: var(--black);

      @include media('>phone') {
        font-size: 15rem;
      }

      &--white {
        color: var(--white);
      }

      b {
        font-family: 'nexa';
      }
    }
  }
}
